{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="login form">
        <input name="email" class='form_control' placeholder="Email" type="text">
        <input name="password" class='form_control' placeholder="Password" type="password">
        </div>
        <a href="#">Forgot password?</a>
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        {% for message in messages %}
          <p id="messages">{{ message }}</p>
        {% endfor %}
        <span class="signup">Don't have an account?
          <a href="{% url 'register' %}">Signup</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
